# 01. Import Libraries

In [2]:
#Import Libraries
import pandas as pd
import numpy as np
import os

# 02. Data Import

In [3]:
#Create folder path shortcut 
path = r'C:\Users\Victoria\Desktop\Data Analytics Career Foundry\4.0 Python Fundamentals for Data Analysts\Instacart Basket Analysis'

In [4]:
#Import products.csv and orders_wrangled.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

# Exercise follow along

In [5]:
#Mixed-type columns example, create a dataframe
df_test = pd.DataFrame()

In [6]:
#Create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [7]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [8]:
# Check for mixed types
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [9]:
# Finding missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [10]:
# Create a subset, df_nan, to view missing values in 'product_name' column
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [11]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [12]:
# Create new subset with non-missing values, df_prods_clean
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [13]:
df_prods_clean.shape

(49677, 5)

In [14]:
# Check df_prods_clean for duplicates
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [15]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [16]:
# Create a new dataframe that doesn't contain duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

# Task

## Step 1 
consistency check preformed on df_prods dataframe during exercise reading. But will perform describe() function

In [18]:
# Run the df.describe() function on your df_prods_clean_no_dups dataframe

df_prods_clean_no_dups.describe()

         product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000   49672.000000  49672.000000
mean   24850.349775     67.762442      11.728942      9.993282
std    14340.705287     38.315784       5.850779    453.615536
min        1.000000      1.000000       1.000000      1.000000
25%    12432.750000     35.000000       7.000000      4.100000
50%    24850.500000     69.000000      13.000000      7.100000
75%    37268.250000    100.000000      17.000000     11.100000
max    49688.000000    134.000000      21.000000  99999.000000

### Anything that needs to be investigated or looks unusual?
The max value of 'prices' seems way too high. It's even too high compared to the 3rd quartile. I suspect that this is a misentered value.
I'll investigate this further.

In [19]:
# Investigate max value of 'prices' further

df_prods_clean_no_dups.loc[df_prods_clean_no_dups['prices'] == 99999.000000]

       product_id           product_name  aisle_id  department_id   prices
33666       33664  2 % Reduced Fat  Milk        84             16  99999.0

This price is for '2 % Reduced Fat Milk', which I highly doubt is priced at $99,999.00. I would send this to the client and ask if this value is accurate.

## Step 2

In [ ]:
# Run the df.describe() function on your df_ords dataframe
df_ords.describe()

### Anything that needs to be investigated or looks unusual?
One unusual item is the column 'Unnamed: 0'. 
After some checking online, I believe this is the index column, so I wil ignore it when looking for any unusual stats.
The count for 'days_since_prior_order' is less than all other counts for other variables.
This may suggest some missing values.

## Step 3

In [ ]:
#Check for mixed-type data in your df_ords dataframe
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

### Are there any mixed-type data in df_ords dataframe?
No, I didn't find any mixed-type data as there was no output from the function checking for mixed-types. 
Skip Step 4, move to Step 5

## Step 5

In [ ]:
# Run a check for missing values in your df_ords dataframe.
df_ords.isnull().sum()

### Missing values: report your findings and propose an explanation for any missing values you find.
The 'days_since_prior_order' column is missing 206,209 values. This could be for multiple reasons. The first reason I can think of is that a value of '0', meaning no days have passed since the last order, has not been input. Perhaps whoever recorded the data thought, "No days since prior order, means zero, zero means no entry." The next reason I can think of is that for all those values there is no record of the days since the last order.

## Step 6

In [ ]:
# Address the missing values using an appropraite method
# First I'll subset the data to see the missing values for the 'days_since_prior_order' column
df_ords_nan = df_ords[df_ords['days_since_prior_order'].isnull() == True]

In [ ]:
df_ords_nan

In [ ]:
# I notice that when the days_since_prior_order' column contains a NaN value, the 'order_number' value appears to be '1'
# I'm going to check some more values to confirm this 
df_ords[df_ords['order_number'] == 1]

## Explain your method

Both the df_ords_nan data frame and my search for entries where the 'order_number' column has a value of '1' are the same shape
They also appear to have a unique user_id value. 
Because of this I don't think NaN is a missing value in the days_since_prior_order column, but rather the first order of a new user.
If they've never created an order/are a new user, they wouldn't have a days_since_prior_order value. 
Ideally I would create a new column called 'initial_user' that would return a yes/no value if the order was the initial order to tag onto the NaN values of the das_since_prior_order column.
So, I've decided to do nothing with these missing values because I don't think they were missing after all.

# Step 7

In [ ]:
# Run a check for duplicates in df_ords. I will be looking fo full duplicates
df_ords_dups = df_ords[df_ords.duplicated()]

In [ ]:
df_ords_dups

In [ ]:
df_ords_dups.shape

## Report your findings
There were no full duplicates found. Step 8 will be skipped.

# Step 9

In [31]:
#Export your final cleaned df_prods__clean_no_dups
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

In [33]:
#Export your final cleaned df_ords data
df_ords.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'))